<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/base.css">
		<link rel="stylesheet" href="css/menu.css">
		<script src="js/jquery-1.11.1.min.js"></script>
		<script src="js/menu.js"></script>
		<script src="js/adapter.js"></script>
	</head>
	<body>
		<% var firstPath = path.split('_')[0]; var secondPath = path.split('_')[1]; %>
		<%- include('head') %>
		<%- include('body', {path:path,firstPath:firstPath,secondPath:secondPath}) %>
		<%- include('foot') %>
	</body>
</html>